@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.darkmodeBody {
  color: white;
  background-color: #282828;
}

.darkmodeCard {
  background-color: black;
}

.darkmodeHeader {
  background-color: black !important;
}

.darkmodeModal {
  background-color: #282828 !important;
}

.darkmodeModal input {
  color: white;
  background-color: rgb(57, 54, 54);
}

#modeToggle {
  max-width: 30px;
  max-height: 30px;
  cursor: pointer;
}

:root {
  --yellow: #ffd319;
  --orange: #ff901f;
  --strong-pink: #ff2975;
  --purple: #f222ff;
  --blue: #0161e8;
  --yellow-color: #fcee09;
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
}

body {
  background-color: #f0eef1;
}

input {
  border: none;
  cursor: text;
  font-size: 1em;
  outline: none;
  padding: 10px 15px;
  border-radius: 8px;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: #e8e8e8;
  margin: 15%;
  border-radius: 1em;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalButton {
  margin-top: 10px;
  min-width: 10%;
  background-color: var(--purple);
}

button {
  border: none;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
  border-radius: 8px;
  min-width: 100%;
  background-color: var(--blue);
}

.readcard {
  border-left: 10px solid rgb(0, 255, 0);
}

.read {
  background-color: rgb(0, 255, 0) !important;
}

.NOTreadcard {
  border-left: 10px solid var(--red-color);
}

.notread {
  background-color: var(--red-color) !important;
}

img {
  width: 200px;
  height: 100px;
  margin: 5px;
}

#header {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; /*stolen from google*/
  background-color: white;
}

#header p {
  padding: 40px;
  margin-left: 4em;
  font-size: 1.5em;
  font-weight: 900;
}

#main {
  display: flex;
  justify-content: center;
}

.bookCard {
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
